@font-face {
	font-family: Be Vietnam Pro;
	src: url(../fonts/DMSerifDisplay-Regular.ttf);
}

h1,
a {
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 3vw;
}

html,
body {
	height: 100%;
	/* background-color: #d2d2d2; */
}

hr {
	background-color: #212529;
	width: 75%;
	/* height: 10px; */
	/* margin: ;
    noshade */
}

img {
	padding: 0;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.custom-container {
	height: 75%;
	width: 75%;
	margin: auto;
}

.custom-border {
	border-style: solid;
	border-color: #212529;
	border-width: 1px;
}

.btn-download {
	position: absolute;
	top: 0;
	right: 0;
}

.filepond--root .filepond--image-preview {
	background: white;
}
