@font-face {
	font-family: Abril Fatface;
	src: url(../fonts/AbrilFatface-Regular.ttf);
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins-Regular.ttf);
}

h1,
h5 {
	font-family: "Abril Fatface", cursive;
	font-size: 3vw;
}

a,
p,
h4 {
	font-family: "Poppins", sans-serif;
}

html,
body {
	height: 100%;
	/* background-color: #d2d2d2; */
}

hr {
	background-color: #212529;
	width: 75%;
	/* height: 10px; */
	/* margin: ;
    noshade */
}

img {
	padding: 0;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.custom-container {
	height: 75%;
	width: 75%;
	margin: auto;
}

.custom-border {
	border-style: solid;
	border-color: #212529;
	border-width: 1px;
}

.btn-download {
	position: absolute;
	top: 0;
	right: 0;
}

.filepond--root .filepond--image-preview {
	background: white;
}
