<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename='lib/font-awesome/css/all.css')}}" />

		<script type="text/javascript" src="{{url_for('static',filename='lib/popper/popper.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='lib/jquery/jquery-3.6.0.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

		{% include 'filepond.html' %}

		<title>DIGIMAP Final Project</title>
	</head>
	<body class="d-flex flex-column min-vh-100">
		<nav class="navbar navbar-expand bg-primary">
			<span class="navbar-brand ml-2">DIGIMAP Final Project</span>
		</nav>
		{% if error is defined %}
			<p class="alert alert-danger" role="alert">{{error}}</p>
		{% endif %}
		<form method="POST" action="/submit" enctype=multipart/form-data></form>
		<div class=".container-fluid">
			<div class="row">
				<div class="col align-self-start">
					<div height=500px">
						<input type="file">
					</div>
				</div>
				<div class="col align-self-center" align="center">
					<input type="submit" type="button" class="btn btn-primary" value="Detect Faces">
				</div>
				<div class="col align-self-end">
					<div class="col align-self-start">
						<div height="70%" width="20%">
							{% if base64img is defined %}
								<img src="{{ base64img }}" width="25%"/>
							{% else %}
							<img src="assets/images/placeholder" width="25%"/>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		</form>

			
		<!--
			<img src="{{ url_for('video') }}" width="100%" />
		-->
	</body>
</html>
