<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename='lib/font-awesome/css/all.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}" />

		<script type="text/javascript" src="{{url_for('static',filename='lib/popper/popper.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='lib/jquery/jquery-3.6.0.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

		
		{% include 'filepond.html' %}

		<title>DIGIMAP Final Project</title>
	</head>
	<body class="d-flex flex-column min-vh-100">

		<!-- {% if error is defined %}
			<p class="alert alert-danger" role="alert">{{error}}</p>
		{% endif %}
		<form method="POST" action="/submit" enctype=multipart/form-data> -->

		<!-- {% if base64img is defined %}
									<img src="{{ base64img }}" width="25%"/>
									¯
								{% else %}
								<img src="/assets/images/placeholder.png" width="25%"/>
								{% endif %} -->

		<!-- <div class="col align-self-start">
							<input type="file">
						</div>
						<div class="col align-self-center" align="center">
							
						</div> -->
		
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<a class="navbar-brand" href="/">YOLO-Face</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto flex-nowrap">
					<li class="nav-item">
						<a class="nav-link" href="https://link.springer.com/article/10.1007/s00371-020-01831-7">Paper</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/vishalbpatil1/yoloface">Code</a>
					</li>
				</ul>
			</div>
		</nav>
		
		{% if error is defined %}
			<p class="alert alert-danger float-top" role="alert">{{error}}</p>
		{% endif %}

		<div class="container-fluid">

			<div class="mt-4"></div>
			<hr>
			<h1 class="text-center">What is YOLO-Face?</h1>
			<hr> <hr>
			<p class="text-center w-50 mx-auto">YOLO-Face is a facial detection model based on YOLOv3 algorithm. It is trained on a dataset of faces and uses a deep neural network to identify faces accurately and quickly. YOLO-Face is widely used in real-time applications such as video surveillance and face recognition systems due to its high performance and reliability.</p>
			
			<div class="mt-4"></div>
			<hr>
			<h1 class="text-center">Try It Out!</h1>
			<hr> <hr>	
			<p class="text-center w-50 mx-auto">Detect faces in your photos! Just upload an image and YOLO-Face will do the rest. Get started now!</p>		
			
			<form method="POST" action="/results" enctype=multipart/form-data class="mx-auto">
				<div class="w-75 mx-auto">
					<input type="file" class="w-50 mx-auto" style="display: block">
				</div>
				<div class="w-50 mx-auto">
					<input type="submit" type="button" class="btn btn-block btn-dark text-center" value="Detect!">
				</div>
			</form>
		</div>
	</body>
</html>
