<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename='lib/font-awesome/css/all.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}" />

		<script type="text/javascript" src="{{url_for('static',filename='lib/popper/popper.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='lib/jquery/jquery-3.6.0.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

		
		{% include 'filepond.html' %}

		<title>DIGIMAP Final Project</title>
	</head>
	<body class="d-flex flex-column min-vh-100">
		<!-- <nav class="navbar navbar-expand bg-primary">
			<span class="navbar-brand ml-2">DIGIMAP Final Project</span>
		</nav> -->

		<!-- {% if error is defined %}
			<p class="alert alert-danger" role="alert">{{error}}</p>
		{% endif %}
		<form method="POST" action="/submit" enctype=multipart/form-data> -->

		<!-- {% if error is defined %}
			<p class="alert alert-danger" role="alert">{{error}}</p>
		{% endif %}
		<form method="POST" action="/submit" enctype=multipart/form-data> -->

		<!-- {% if base64img is defined %}
									<img src="{{ base64img }}" width="25%"/>
									<a download="face.jpg" href="{{ base64img }}">Download Image</a>
								{% else %}
								<img src="/assets/images/placeholder.png" width="25%"/>
								{% endif %} -->

		<!-- <div class="col align-self-start">
							<input type="file">
						</div>
						<div class="col align-self-center" align="center">
							<input type="submit" type="button" class="btn btn-primary" value="Detect Faces">
						</div> -->
		
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Navbar</a>
		</nav>
		
		<div class="container-fluid" style="height:100%">

			<hr>
			<h1 class="text-center">YOLO-Face Detection System</h1>
			<hr> <hr>
			<p class="text-center w-50 mx-auto">YOLO-Face is a facial detection model based on YOLOv3 algorithm. It is trained on a dataset of faces and uses a deep neural network to identify faces accurately and quickly. YOLO-Face is widely used in real-time applications such as video surveillance and face recognition systems due to its high performance and reliability.</p>
		
			<div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
				<form method="POST" action="/submit" enctype=multipart/form-data class="d-flex min-vh-100 justify-content-center align-items-center">
					<div>
						<input type="file">
					</div>
					<!-- <div class="d-flex justify-content-center align-items-center" style="height: 100vh;"> -->
						
						
						<!-- <div class="col-8">
							<img src="/assets/images/face_detection.png">
						</div> -->
					<!-- </div> -->
				</form>
			</div>
		</div>
	</body>
</html>
